<div class="logo">
    Your Logo Here
</div>

<nav>
    <ul>
        <li><a class="link" routerLink="/home">Home</a></li>
        <li><a class="link" routerLink="/challenges">Challenges</a></li>
        <li><a class="link" routerLink="/schedule">Schedule</a></li>
        <li><a class="link" routerLink="/store">Store</a></li>
        <li><a class="link" routerLink="/helpless">A Page That Didn't Have a Help Route Defined</a></li>
        <li class="help"><a class="link " (click)="openHelp()">Help</a></li>
    </ul>
</nav>